<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.AssignmentMapper">
    <insert id="addAssignmentToCourse">
        INSERT INTO assignment(name, question_num)
        VALUES (#{name}, #{questionNum});
        INSERT INTO course_assignment (course_name, aid)
        VALUES (#{courseName}, (SELECT COUNT (*) FROM assignment))
    </insert>

    <select id="getAssignmentById" resultType="entity.Assignment">
        SELECT *
        FROM assignment
        WHERE aid = #{id};
    </select>

    <select id="getAssignmentByCourseName" resultType="entity.Assignment">
        SELECT a.*
        FROM course_assignment AS cs, assignment AS a
        WHERE a.aid = cs.aid
        AND cs.course_name = #{courseName};
    </select>

    <select id="getAssignmentByCourseForStudent" resultType="entity.Assignment">
        SELECT a.*
        FROM assignment AS a, course AS c, assignment_student AS ast
        WHERE a.aid = ast.aid
        AND a.cid = c.cid
        AND c.name = #{courseName}
        AND ast.uid = #{uid}
    </select>
</mapper>