<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.QuestionMapper">
    <insert id="addQuestionToAssignment" parameterType="entity.Question">
        INSERT INTO question (title, weight)
        VALUES (#{title}, #{weight});
        INSERT INTO assignment_question(aid, qid)
        VALUES (#{aid}, (SELECT COUNT(*) FROM question))
    </insert>

    <select id="getQuestionById" resultType="entity.Question">
        SELECT *
        FROM question
        WHERE qid = #{qid}
    </select>

    <select id="getQusetionsByAssignment" resultType="entity.Question">
        SELECT q.*
        FROM question AS q, assignment as a
        WHERE q.aid = a.aid
        AND a.aid = #{id}
    </select>
</mapper>