<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.AssignmentMapper">
    <insert id="addAssignmentToCourse">
        INSERT INTO assignment(code, name, questionnum, deadline)
        VALUES (#{code}, #{name}, #{questionNum}, #{deadline});
    </insert>

    <select id="getAssignmentById" resultType="entity.Assignment">
        SELECT *
        FROM assignment
        WHERE aid = #{aid};
    </select>

    <select id="getAssignmentByCourseCode" resultType="entity.Assignment">
        SELECT *
        FROM assignment
        WHERE code = #{code}
    </select>

    <select id="getStudentNameByAssignment" resultType="String">
        SELECT u.username
        FROM course AS c, assignment AS a, course_student AS cs, user AS u
        WHERE c.code = a.code
        AND c.code = cs.code
        AND cs.uid = u.uid
        AND a.aid = #{aid}
    </select>
</mapper>